*{
    margin: 0;
    padding: 0;
    background-color: rgb(246, 245, 245);
}
.border1{
    background-color: black;
    width:100%;
    height: 30px;
    color: white;
    text-align: center;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.title{
    margin-top: 30px;
    font-size: 8vh;
    display: inline;
    margin-left: 30px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#navbar {
    margin-top: -30px;
    margin-left: 700px;
    list-style-type: none;
    width: 550px;
    text-align: center;
    font-family:  Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
  #navbar li { 
    display: inline; 
}
  #navbar a {
    color: rgb(11, 10, 10);
    padding: 5px 10px;
    text-decoration:none;
    font-weight: bold;
    display: inline-block;
    width: 100px;
  }
  #navbar a:after {
  
    content: '';  
    height: 1px; 
    display: block; 
    border-bottom: 2px solid #131313; 
    width: 0; 
    -webkit-transition: width 0.5s; 
    transition: width 0.5s; 
} 
 
#navbar a:hover { 
    text-decoration: none; 
} 
 
#navbar a:hover:after { 
    width: 100%; 
}
.about{
    padding: 5vh;
    padding-left:34vh;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.citation {
    padding-top: 10vh;
    padding-left:0vh;
    font-size: 8vh;
    font-family:Georgia, 'Times New Roman', Times, serif; 
        display: flex;
      }
      
      span {
        text-transform: uppercase;
        font-weight: 500;
        animation: .3s 0s 1 text normal both running linear;
        display: block;
      }
      
      @keyframes text {
        0% {
          transform: translateY(-40px) rotate(45deg);
          opacity: .0;
        }
      }
 

#down{
    width:8vh;
    height: 8vh;
    padding-left: 1100px;
}
#about-img1{
    width: 119vh;
    padding-top: 10vh;
}
p{
    font-size: 4vh;
    margin-top: -76vh;
    margin-left: 136vh;
}
.our{
    margin-top: 5vh;
    font-size: 12vh;
    margin-left: 136vh;
}
.making{
    border: 1px;
    background:none ;
    width: 34vh;
    font-size: 4vh;
    margin-left: 136vh;
    margin-top: 17vh;
}
.abouttext2{
    display:flex;
    margin-top: 34vh;
}
.number{
    font-size: 5vh;
    margin-left: 17vh;
}
.text1{
    margin-top: 5vh;
    font-size: 12vh;
    margin-left: 17vh;
}
.text2{
    border: 1px;
    background:none ;
    width: 51vh;
    font-size: 4vh;
    margin-left: 17vh;
    margin-top: 10vh;
}
#img2{
    width: 51vh;
    height: 68vh;
    margin-left: 127vh;
    margin-top: -68vh;
}
#img3{
    width:34vh;
    height: 51vh;
    margin-left: 161vh;
    margin-top: -34vh;
        opacity:0; /*Элемент полностью прозрачный (невидимый)*/
        transition: 1s; /*Скорость перехода состояния элемента*/
        animation: show 3s 1; /* Указываем название анимации, её время и количество повторов*/
        animation-fill-mode: forwards; /* Чтобы элемент оставался в конечном состоянии анимации */
        animation-delay: 1s; /* Задержка перед началом */
}
        @keyframes show{
            0%{
            opacity:0;
            }
            100% {
            opacity:1;
            }
            }
        

.makers{
    font-size: 50px;
    text-align: center;
    margin-top: 150px;
}
