*{
    margin: 0;
}
*:before, *:after 
{ box-sizing:border-box; }
label .menu {
  position: absolute;
  display: none;
  right: -100px;
  top: -100px;
  z-index: 100;
  width: 200px;
  height: 100px;
  background: #FFF;
  border-radius: 50% 50% 50% 50%;
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  box-shadow: 0 0 0 0 #FFF, 0 0 0 0 #FFF;
  cursor: pointer;
  
}

label .hamburger {
  position: absolute;
  top: 135px;
  left: 50px;
  width: 30px;
  height: 2px;
  background: black;
  display: block;
  -webkit-transform-origin: center;
  transform-origin: center;
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}

label .hamburger:after, label .hamburger:before {
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background: black;
}

label .hamburger:before { top: -10px; }

label .hamburger:after { bottom: -10px; }

label input { display: none; }

label input:checked + .menu {
  box-shadow: 0 0 0 50vw #FFF, 0 0 0 50vh #FFF;
  border-radius: 0;
  
}

label input:checked + .menu .hamburger {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  
}

label input:checked + .menu .hamburger:after {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  bottom: 0;
  
}

label input:checked + .menu .hamburger:before {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  top: 0;
  
}

label input:checked + .menu + ul { opacity: 1; }

label ul {
  z-index: 200;
  position: absolute;
  top: 30%;
  left: 70%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  opacity: 0;
  -webkit-transition: .25s 0s ease-in-out;
  transition: .25s 0s ease-in-out;
}

label a {
  margin-bottom: 1em;
  display: block;
  color: black;
  text-decoration: none;
  
}
.header{
    border: 1px solid;
    width: 100%;
    height: 80px;
    border: none;
    position: fixed;
    z-index: 1000;
}

.marquee-infinite {
    max-width: 100%;
    overflow: hidden;
    height: 20px;
}
.marquee-infinite div {
    display: flex;
    background-color: black;
    width: 200%;
    animation: marquee-infinite 20s linear infinite;
}

.marquee-infinite p {
    white-space: nowrap;
    padding: 10px 0;
    letter-spacing: 0.2em;
    font-size: 8px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    width: 100%;
    color: white;
}
@keyframes marquee-infinite {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-50%);
    }
}
.navbar { 
    z-index: 1000;
    position: fixed;
    width: 100%;
    height: 40px;
    font-family:  Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

  #navbar li { 
    display: inline; 
}
  .navbar a {
    color: black;
    padding: 5px 10px;
    text-decoration:none;
    font-weight: bold;
    display: inline-block;
  }
  #navbar a:after {
  
    content: '';  
    height: 1px; 
    display: block; 
    border-bottom: 2px solid #131313; 
    width: 0; 
    -webkit-transition: width 0.5s; 
    transition: width 0.5s; 
} 
 
#navbar a:hover { 
    text-decoration: none; 
} 
 
#navbar a:hover:after { 
    width: 100%; 
}
.shop{
    margin-left: 830px;
    margin-top: -33px;
}
#title{
    font-size: 40px;
    margin-left:0;
    margin-top: 10px;
}
#sale{
    margin-left: 300px;
}
.bgColor{
    transition: all 1s;
    background-color: white;
    border-bottom: 1px solid lightgray;
    height: auto;
    color: #131313;
}
.colorText{
    color: black;
}
.video_bg{
    height: 100vh;
    width: 100%;
    overflow: hidden;
    position: relative;

}
.vid{
    height: 100vh;
    width: 100%;
    position: absolute;
    text-align: center;
    vertical-align: middle;
    filter: brightness(70%);
    object-fit: cover;
}
.bezh{
    background-color: #ebe4db;
    width: 100%;
}
.cool{
    font-size: 7vw;
    color: white;
    font: 400;
    text-align: center;
}
.suret{
    width: 65%;
    margin-left: 17.5vw;
}
.faux{
    font-size: 7.5vw;
    font-weight: 400;
    font-family: Saol Display;
    line-height: 1.1;
    color: white;
    text-align: center;
}
.page3{
    width: 100%;
    height: auto;
    background-color: #f7f8f6;
    margin-top: 6.798vw;
}
.faq a{
    text-decoration: none;
    color: white;
    font-size: 3vw;
}
.suret2{
    width: 70%;
    margin: auto;
}
.aw{
    font-size: 10px;
    font-weight: bold;
    margin-left: 20.394vw;
    margin-top: 6.798vw;
}
.text{
    font-size: 3.4vw;
    margin-left: 20.394vw;
    margin-top: 1.360vw;
}
.text2{
    width: 17vw;
    line-height: 2.1vw;
    letter-spacing: .05em;
    font-size: 1.5vw;
    margin-left: 20.394vw;
    
}
.page33{
    display: inline-block;
}
.suret3{
    width: 25%;
    display: inline-block;
   
}
.suret33{
    width: 18%;
    position: relative;
    z-index: 1000;
}
.suret33-animation{
    animation: anmat 2s 1;
}
@keyframes anmat{
    0%{
        transform: translate(0,350px);
    }
    50%{
        transform: translate(0,0);
    }
}

.jazy{
    font-size: 13px;
    letter-spacing: .2em;
    text-transform: uppercase;
    font-weight: 700;
    position: relative;
    margin-top: 45vh;
    color: white;
    text-align: center;
}
.jazy2{
    margin-left: 20vw;
    font-weight: 400;
    position: relative;
    font-size: 4.5vw;
    color: white;
    letter-spacing: .1em;
    text-align: center;
    display: inline;
}
.jazy3{
    margin-top: 2vh;
    color: white;
    position: relative;
    text-align: center;
    display: inline;
}
.disc{
    border: none;
    font-size: 1vw;
    text-align: center;
    width: 10vw;
    height: 2.719vw;
    color: white;
    background-color: #8a5e7c;
    margin-left: 23.114vw;
    margin-top: 2.719vw;
}
.suret4{
    width: 80%;
    margin-left: 9vw;
    padding: 50px 50px;
}
.suret5{
    width: 100%;
}
.suret6{
    width: 70%;
    margin-left: 13.596vw;
    margin-top: -4.759vw;
    
}
.suret7{
    display: inline;
    width: 55%;
    margin-top: 5rem;
}
.suret8{
    display: inline;
    width: 30%;
    margin-left: 2.719vw;
}
.bezh2{
    background-color: #ebe4db;
    width: 100%;
    height: 100%;

}
.aut{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-top: 130px;
}
.citation{
    width: 54.385vw;
    font-size: 4.759vw;
    margin: auto;
    color: white;
    font-family: Monotype Corsiva;
    z-index: 1;
    position: relative;
    text-align: center;
}
.foot{
    background-color: black;
    width: 100%;
    height: 45vh;
    color: aliceblue;
    margin-top: 40vh;
    
}
.box2{
    margin-top: 15vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.anna{
    text-align: center;
    font-size: 5vw;
    font-weight: 400;
    line-height: 1.1;
    margin-top: 1.835vw;
    font-family: gabriola;
}
.fol{
    font-size: 3vw;
    font-weight: 300;
    line-height: 1.1;
    font-family: gabriola;
}
.insta{
    font-size: 3vw;
    font-weight: 400;
    text-decoration: none;
    color: aliceblue;
    letter-spacing: .2em;
}
.icon{
    text-align: center;
}
.need{
    font-size: 3.399vw;
    font-family: Monotype Corsiva;
}
.alred{
    font-size: 3vw;
    font-family: Monotype Corsiva;
}
.find{
    font-size: 3vw;
    font-family: Monotype Corsiva;
}
.aa{
    text-decoration: underline black;
    color:chocolate;
    cursor: pointer;
}
@media screen and (max-width:768px){
    *:before, *:after 
{ box-sizing:border-box; }
label .menu {
  position: absolute;
  right: -100px;
  top: -100px;
  z-index: 100;
  width: 200px;
  height: 100px;
  background: #FFF;
  border-radius: 50% 50% 50% 50%;
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  box-shadow: 0 0 0 0 #FFF, 0 0 0 0 #FFF;
  cursor: pointer;
  
}

label .hamburger {
  position: absolute;
  top: 135px;
  left: 50px;
  width: 30px;
  height: 2px;
  background: black;
  display: block;
  -webkit-transform-origin: center;
  transform-origin: center;
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}

label .hamburger:after, label .hamburger:before {
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background: black;
}

label .hamburger:before { top: -10px; }

label .hamburger:after { bottom: -10px; }

label input { display: none; }

label input:checked + .menu {
  box-shadow: 0 0 0 50vw #FFF, 0 0 0 50vh #FFF;
  border-radius: 0;
  
}

label input:checked + .menu .hamburger {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  
}

label input:checked + .menu .hamburger:after {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  bottom: 0;
  
}

label input:checked + .menu .hamburger:before {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  top: 0;
  
}

label input:checked + .menu + ul { opacity: 1; }

label ul {
  z-index: 200;
  position: absolute;
  top: 30%;
  left: 70%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  opacity: 0;
  -webkit-transition: .25s 0s ease-in-out;
  transition: .25s 0s ease-in-out;
}

label a {
  margin-bottom: 1em;
  display: block;
  color: black;
  text-decoration: none;
  
}
    .header{
        display: none;
    }
    .domalaq{
        display: none;
    }
    .vid{
        height: 100%;
        width: 100%;
    }
    .suret4{
        margin-top: 2.039vw;
        padding: 0;
    }
    .suret7{
        width: 100%;
    }
    .suret3{
        width: 70%;
        margin-top: 10vh
    }
    .suret33{
        width: 40%;
    }
    .suret2{
        width: 100%;
    }
    .text{
        font-size: 40px;
        margin-bottom: 10px;
        margin-left: 8px;
    }
    .aw{
        margin-left: 8px;
    }
    .text2{
        font-size: 14px;
        width: 230px;
        line-height: 28px;
        margin-left:8px;
    }
    .disc{
        width: 30%;
        height: 5vh;
        font-size: 16px;
        margin-left: 35px;
    }
    .suret6{
        height: 85vh;
        width: auto;
    }
    .citation{
        font-size: 45px;
    }
    .suret8{
        width: 80%;
        margin-left: 4vw;
    }
    .need{
        font-size: 50px;
    }
    .aut{
        flex-direction: column;
        align-items: baseline;
    }
    .alred,.find{
        font-size: 20px;
        margin-top: 20px;
        font-family: serif;
    }
    .foot{
        margin-top: 50px;
    }
    
    
    
}
@media screen and (max-width:534px){
    .suret33{
        margin-bottom: -650px;
        margin-left: 55vw;
    }
    .suret6{
        margin-left: 0;
        width: 85%;
    }
    .suret{
        width: 80%;
        margin: 2vw;
    }
}
.circle {
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.domalaq{
    position: absolute;
    margin-left: 125vw;
    margin-top: -40vw;
    font-weight: 400;
    font-family: 'Times New Roman', Times, serif;
    width: 100%;
    height: 100%;
    animation: animate 10s linear infinite;
}
p span {
    position: absolute;
    font-weight: 400;
    left: 50%;
    font-size: 2em;
    letter-spacing: 1em;
    text-transform: uppercase;
    transform-origin: 0 10vw;
}
@keyframes animate {
    0%
    {
        transform: rotate(360deg);
    }
    100%
    {
        transform: rotate(0deg);
    }
}