*{
    margin: 0;
}
.header{
    border: 1px solid;
    width: 100%;
    height: 80px;
    background-color: #fff;
    border: none;
    position: fixed;
    z-index: 1000;
}
.marquee-infinite {
    max-width: 100%;
    overflow: hidden;
}
.marquee-infinite div {
    display: flex;
    background-color: black;
    width: 200%;
    animation: marquee-infinite 20s linear infinite;
}

.marquee-infinite h6 {
    white-space: nowrap;
    padding: 10px 0;
    letter-spacing: 0.2em;
    font-size: 10px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    width: 100%;
    color: rgb(247, 245, 245);
}
@keyframes marquee-infinite {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-50%);
    }
}
.navbar { 
    z-index: 1000;
    position: fixed;
    top:0;
    width: 100%;
    height: 30px;
    padding: 20px;
    font-family:  Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
  #navbar li { 
    display: inline; 
}
  .navbar a {
    color: rgb(26, 24, 24);
    padding: 5px 10px;
    text-decoration:none;
    font-weight: bold;
    display: inline-block;
  }
  #navbar a:after {

    content: '';  
    height: 1px; 
    display: block; 
    border-bottom: 2px solid #131313; 
    width: 0; 
    -webkit-transition: width 0.5s; 
    transition: width 0.5s; 
} 

#navbar a:hover { 
    text-decoration: none; 
} 

#navbar a:hover:after { 
    width: 100%; 
}
.shop{
    margin-left: 1000px;
    margin-top: -33px;
}
#title{
    font-size: 40px;
    margin-left:0;
}
.sale{
    margin-left: 450px;
    margin-top: -35px;
}
#citation {
    color: rgb(10, 10, 10);
    text-align: center;
    margin-left: -500px;
    font-size: 20vh;
    font-weight: 100;
    font-family: Monotype Corsiva; 
    display: flex;
    margin-top: -250px;
}
.center{
    padding: 150px 550px;
}
.img1{
    width: 600px;
    height: 400px;
    margin-left: 150px;
    margin-top: 10px;
}
.color{
    margin-top: 30px;
    background-color: rgb(248, 244, 243);
    width: 1300px;
    height: 600px;
}
.color1{
    background-color: rgb(248, 244, 243);
    width: 1300px;
    height: 600px;
}
.color4{
    background-color:#fff;
    width: 1300px;
    height: 200px;
}
.thank{
    font-size: 40px;
    text-align: center;
    margin-top: 200px;
    font-family:  Monotype Corsiva;
}
.textlast{
    font-size: 30px;
    text-align: center;
    margin-top: 15px;
    font-family:  Monotype Corsiva;
}
.title1{
  text-align: center;
  padding: 50px;
  font-size: 50px;
  font-family:  Monotype Corsiva;
}
.list {
    margin-left: 400px;
    width: 500px;
    height: 350px;
    overflow: auto;
    list-style: none;
    padding-left: 0px;
  }
  
  ul.list li {
    padding: 50px 0px;
  }
  li:last-of-type {
  margin-bottom: 150px;
  }
  .box1{
    width: 400px;
    height: 250px;
    background-color: #fff;
    border-radius: 10px;
  }
  #eco1{
    width: 150px;
    height: 200px;
    border-radius: 30px;
    margin-top: 25px;
  }
  .text1{
   border: 1px solid;
   border: none;
   width: 200px;
   margin-left: 160px;
   margin-top: -170px;
  }
.pay{
    margin-left: 200px;
    margin-top: 100px;
}
.ments{
    margin-left: 200px;
    margin-top: 30px;
    width: 800px;
}
#img2{
    width: 700px;
    margin-left: 190px;
    margin-top: 70px;
}
#img3{
    width: 500px;
    height: 100px;
    margin-left: 200px;
    margin-top: 50px;
}
.container {
    position: relative;
    width: 50%;
  }
  
  
  .overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
  }
  
  .container:hover .overlay {
    height: 100%;
  }
  
  .text {
    white-space: nowrap; 
    color: white;
    font-size: 20px;
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }
  .container1 {
    position: relative;
    width: 50%;
  }
  
  .overlay1 {
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    overflow: hidden;
    width: 100%;
    height:0;
    transition: .5s ease;
  }
  
  .container1:hover .overlay1 {
    bottom: 0;
    height: 100%;
  }
  #img4{
    width: 200px;
    margin-left: 200px;
    margin-top: 50px;
  }
  .container2 {
    position: relative;
    width: 50%;
  }
  .overlay2 {
    position: absolute;
    bottom: 0;
    left: 100%;
    right: 0;
    overflow: hidden;
    width: 0;
    height: 100%;
    transition: .5s ease;
  }
  
  .container2:hover .overlay2 {
    width: 100%;
    left: 0;
  }
  
.foot{ 
    background-color: black; 
    width:100%; 
    height: 45vh; 
    color: aliceblue; 
    margin-top: 20vh; 
     
} 
.box2{ 
    margin-top: 15vh; 
    display: flex; 
    flex-direction: row; 
    justify-content: space-around; 
} 
.anna{ 
    text-align: center; 
    font-size: 6vh; 
    font-weight: 400; 
    line-height: 1.1; 
    margin-top: 6vh; 
    font-family: gabriola; 
} 
.fol{ 
    font-size: 2.8vh; 
    font-weight: 300; 
    line-height: 1.1; 
    font-family: gabriola; 
} 
.insta{ 
    font-size: 3vh; 
    font-weight: 400; 
    text-decoration: none; 
    color: aliceblue; 
    letter-spacing: .2em; 
} 
.icon{ 
    text-align: center; 
    margin-top: 10vh; 
}
@media screen and (max-width: 786px){
    #citation {
        color: rgb(10, 10, 10);
        text-align: center;
        margin-left: -200px;
        font-size: 20vh;
        font-weight: 100;
        font-family: Monotype Corsiva; 
        margin-top: -600px;
    }
    .img1{
        width: 600px;
        height: 400px;
        margin-left: -200px;
        margin-top: 400px;
    }
    .color{
        margin-top: 500px;
        width: 1300px;
    }
    .color1{
        background-color: rgb(248, 244, 243);
        width: 1300px;
        height: 800px;
    }
    .title1{
        text-align: center;
        padding: 50px;
        font-size: 150px;
        font-family:  Monotype Corsiva;
      }
      .list {
        margin-left: 200px;
        width: 900px;
        height: 350px;
        overflow: auto;
        list-style: none;
        padding-left: 0px;
      }
      
      ul.list li {
        padding: 50px 0px;
      }
      li:last-of-type {
      margin-bottom: 0px;
      }
      .box1{
        width: 900px;
        height: 700px;
        background-color: #fff;
        border-radius: 10px;
      }
      .text1{
        border: 1px solid;
        border: none;
        width: 400px;
        margin-left: 450px;
        margin-top: -350px;
        font-size: 40px;
       }
       #eco1{
        width: 400px;
        height: 400px;
        border-radius: 30px;
        margin-top: 40px;
      }
      .pay{
        margin-left: 200px;
        margin-top: 100px;
        width:300px;
        font-size: 40px;

    }
    .ments{
        margin-left: 200px;
        margin-top: 30px;
        width: 500px;
        font-size: 40px;
    }
    #img2{
        width: 700px;
        height: 50px;
        margin-left: 190px;
        margin-top: 70px;
    }
    #img3{
        width: 600px;
        height: 200px;
        margin-left: 200px;
        margin-top: 50px;
    }
    .container {
        position: relative;
        width: 50%;
      }
       .overlay {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        overflow: hidden;
        width: 100%;
        height: 0;
        transition: .5s ease;
        display: none;
      }
      
      .container:hover .overlay {
        height: 100%;
      }
      
      .text {
        white-space: nowrap; 
        color: white;
        font-size: 20px;
        position: absolute;
        overflow: hidden;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
      }
      .container1 {
        position: relative;
        width: 50%;
      }
      
      .overlay1 {
        position: absolute;
        bottom: 100%;
        left: 0;
        right: 0;
        overflow: hidden;
        width: 100%;
        height:0;
        transition: .5s ease;
        display: none;
      }
      
      .container1:hover .overlay1 {
        bottom: 0;
        height: 100%;
      }
      #img4{
        width: 200px;
        margin-left: 200px;
        margin-top: 50px;
      }
      .container2 {
        position: relative;
        width: 50%;
      }
      .overlay2 {
        position: absolute;
        bottom: 0;
        left: 100%;
        right: 0;
        overflow: hidden;
        width: 0;
        height: 100%;
        transition: .5s ease;
        display: none;
      }  
      .thank{
        font-size: 80px;
        text-align: center;
        margin-top: 200px;
        font-family:  Monotype Corsiva;
        width: 800px;
        margin-left: 200px;
    }
    .textlast{
        font-size: 50px;
        margin-left: 300px ;
        margin-top: 50px;
        font-family:  Monotype Corsiva;
        width: 600px;
    }  
    .foot{ 
        background-color: black; 
        width:100%; 
        height: 500px; 
        color: aliceblue; 
        margin-top: 25vh; 
         
    } 
    .icon{ 
        text-align: center; 
        margin-top: 200px; 
    }
    .anna{ 
        text-align: center; 
        font-size: 15vh; 
        font-weight: 400; 
        line-height: 1.1; 
        margin-top: 6vh; 
        font-family: gabriola; 
    } 
    .fol{ 
        font-size: 2.8vh; 
        font-weight: 300; 
        line-height: 1.1; 
        font-family: gabriola; 
    } 
    .insta{ 
        font-size: 5vh; 
        font-weight: 400; 
        text-decoration: none; 
        color: aliceblue; 
        letter-spacing: .2em; 
    } 
}